In [1]:
import pandas as pd

'/home/adithan'

In [4]:
fdf = pd.read_csv('file:///home/adithan/friends_test.csv')

In [5]:
fdf.head(5)

   0      Will  33  385
0  1  Jean-Luc  26    2
1  2      Hugh  55  221
2  3    Deanna  40  465
3  4     Quark  68   21
4  5    Weyoun  59  318

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Initialize Spark Session
spark = SparkSession.builder.appName("Friends Analysis").getOrCreate()

# Define schema for the DataFrame
schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("NumFriends", IntegerType(), True)
])

24/11/04 09:16:37 WARN Utils: Your hostname, ADITHAN-MSI-M14B11SBU resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/11/04 09:16:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/04 09:16:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
file_path = "file:///home/adithan/friends_test.csv"  # Update with your actual file path
friends_df = spark.read.csv(file_path, schema=schema, header=False)

In [8]:
# Convert to RDD with (age, (num_friends, 1)) pairs
age_friends_rdd = friends_df.rdd.map(lambda row: (row["Age"], (row["NumFriends"], 1)))

# Calculate the sum of friends and count for each age using reduceByKey
age_friends_totals = age_friends_rdd.reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))

# Calculate the average by dividing the sum by the count
average_friends_by_age = age_friends_totals.mapValues(lambda total_count: total_count[0] / total_count[1])

In [9]:
# Collect and print the result
result = average_friends_by_age.collect()
for age, avg_friends in result:
    print(f"Age: {age}, Average Friends: {avg_friends}")

Age: 33, Average Friends: 325.3333333333333
Age: 26, Average Friends: 242.05882352941177
Age: 55, Average Friends: 295.53846153846155
Age: 40, Average Friends: 250.8235294117647
Age: 68, Average Friends: 269.6
Age: 59, Average Friends: 220.0
Age: 37, Average Friends: 249.33333333333334
Age: 54, Average Friends: 278.0769230769231
Age: 38, Average Friends: 193.53333333333333
Age: 27, Average Friends: 228.125
Age: 53, Average Friends: 222.85714285714286
Age: 57, Average Friends: 258.8333333333333
Age: 56, Average Friends: 306.6666666666667
Age: 43, Average Friends: 230.57142857142858
Age: 36, Average Friends: 246.6
Age: 22, Average Friends: 206.42857142857142
Age: 35, Average Friends: 211.625
Age: 45, Average Friends: 309.53846153846155
Age: 60, Average Friends: 202.71428571428572
Age: 67, Average Friends: 214.625
Age: 19, Average Friends: 213.27272727272728
Age: 30, Average Friends: 235.8181818181818
Age: 51, Average Friends: 302.14285714285717
Age: 25, Average Friends: 197.45454545454547
Age: 21, Average Friends: 350.875
Age: 42, Average Friends: 303.5
Age: 49, Average Friends: 184.66666666666666
Age: 48, Average Friends: 281.4
Age: 50, Average Friends: 254.6
Age: 39, Average Friends: 169.28571428571428
Age: 32, Average Friends: 207.9090909090909
Age: 58, Average Friends: 116.54545454545455
Age: 64, Average Friends: 281.3333333333333
Age: 31, Average Friends: 267.25
Age: 52, Average Friends: 340.6363636363636
Age: 24, Average Friends: 233.8
Age: 20, Average Friends: 165.0
Age: 62, Average Friends: 220.76923076923077
Age: 41, Average Friends: 268.55555555555554
Age: 44, Average Friends: 282.1666666666667
Age: 69, Average Friends: 235.2
Age: 65, Average Friends: 298.2
Age: 61, Average Friends: 256.22222222222223
Age: 28, Average Friends: 209.1
Age: 66, Average Friends: 276.44444444444446
Age: 46, Average Friends: 223.69230769230768
Age: 29, Average Friends: 215.91666666666666
Age: 18, Average Friends: 343.375
Age: 47, Average Friends: 233.22222222222223
Age: 34, Average Friends: 245.5
Age: 63, Average Friends: 384.0
Age: 23, Average Friends: 246.3

In [10]:
# Stop Spark session
spark.stop()