In [1]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

# Verify the Spark context
print(spark.version)

24/11/04 08:53:11 WARN Utils: Your hostname, ADITHAN-MSI-M14B11SBU resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/11/04 08:53:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/04 08:53:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

3.5.3

In [2]:
data = [("Alice", 1), ("Bob", 2), ("Cathy", 3)]
df = spark.createDataFrame(data, ["Name", "Score"])

# Show the DataFrame
df.show()

+-----+-----+
| Name|Score|
+-----+-----+
|Alice|    1|
|  Bob|    2|
|Cathy|    3|
+-----+-----+

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, LongType

# Step 1: Start a Spark session
spark = SparkSession.builder.appName("MovieLens Rating Distribution").getOrCreate()

# Step 2: Define the schema
schema = StructType([
    StructField("UserID", IntegerType(), True),
    StructField("MovieID", IntegerType(), True),
    StructField("Rating", IntegerType(), True),
    StructField("Timestamp", LongType(), True)
])

# Step 3: Load the data
file_path = "file:///home/adithan/movielens.txt"
ratings_df = spark.read.csv(file_path, schema=schema, sep="\t")

In [13]:
import pandas as pd

In [14]:
mdf = pd.read_csv(file_path)

In [15]:
mdf.head()

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806

In [16]:
ratings_df.show(5)

+------+-------+------+---------+
|UserID|MovieID|Rating|Timestamp|
+------+-------+------+---------+
|   196|    242|     3|881250949|
|   186|    302|     3|891717742|
|    22|    377|     1|878887116|
|   244|     51|     2|880606923|
|   166|    346|     1|886397596|
+------+-------+------+---------+
only showing top 5 rows

In [17]:
rating_distribution = ratings_df.groupBy("Rating").count()

# Step 6: Show the rating distribution
rating_distribution.orderBy("Rating").show()

+------+-----+
|Rating|count|
+------+-----+
|     1| 6110|
|     2|11370|
|     3|27145|
|     4|34174|
|     5|21201|
+------+-----+

In [18]:
# Stop the Spark session when done
spark.stop()